@import "../../constants/colors.scss";


.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: $primaryOrange;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s, transform 0.3s;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.button:hover {
  background-color: $secondaryOrange;
  transform: scale(0.95);
}

.button:active {
  transform: scale(0.95);
}



.backButton{
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: $primaryDark;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s, transform 0.3s;
  justify-content: center;
  align-items: center;
  user-select: none;
}

